In [36]:
import pandas as pd
import numpy as np
import csv

In [37]:
#读入数据集
dataset = pd.read_csv("forestfires.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [38]:
dataset

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [39]:
#将字符用数据代替
dataset.month.replace(('jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'),
                        (1,2,3,4,5,6,7,8,9,10,11,12), inplace=True)
dataset.day.replace(('mon','tue','wed','thu','fri','sat','sun'),
                       (1,2,3,4,5,6,7), inplace=True)
#将最后一列中的数据修改，作为是否着火的标签，0为没有着火，1为着火
#即：大于0修改为1，等于0修改为0，列标签修改为iffire
dataset.area[dataset['area'] == 0.0] = 0
dataset.area[dataset['area'] > 0.0] = 1
dataset.rename(columns={'area':'iffire'},inplace=True)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [40]:
dataset

     X  Y  month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  iffire
0    7  5      3    5  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0     0.0
1    7  4     10    2  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0     0.0
2    7  4     10    6  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0     0.0
3    8  6      3    5  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2     0.0
4    8  6      3    7  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0     0.0
..  .. ..    ...  ...   ...    ...    ...   ...   ...  ..   ...   ...     ...
512  4  3      8    7  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0     1.0
513  2  4      8    7  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0     1.0
514  7  4      8    7  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0     1.0
515  1  4      8    6  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0     0.0
516  6  3     11    2  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0     0.0

[517 rows x 13 columns]

In [46]:
#对除最后一列是否着火外的数据做Min-Max标准化处理
data = dataset.iloc[:,0:-1]
data = (data-data.min())/(data.max()-data.min())
data

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain
0,0.750,0.428571,0.181818,0.666667,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,0.700000,0.00000
1,0.750,0.285714,0.818182,0.166667,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,0.055556,0.00000
2,0.750,0.285714,0.818182,0.833333,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,0.100000,0.00000
3,0.875,0.571429,0.181818,0.666667,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,0.400000,0.03125
4,0.875,0.571429,0.181818,1.000000,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,0.155556,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...
512,0.375,0.142857,0.636364,1.000000,0.811613,0.191592,0.771315,0.033868,0.823151,0.200000,0.255556,0.00000
513,0.125,0.285714,0.636364,1.000000,0.811613,0.191592,0.771315,0.033868,0.633441,0.658824,0.600000,0.00000
514,0.750,0.285714,0.636364,1.000000,0.811613,0.191592,0.771315,0.033868,0.610932,0.647059,0.700000,0.00000
515,0.000,0.285714,0.636364,0.833333,0.976774,0.499311,0.711622,0.201426,0.752412,0.317647,0.400000,0.00000
516,0.625,0.142857,0.909091,0.166667,0.784516,0.006547,0.115867,0.019608,0.308682,0.188235,0.455556,0.00000

In [50]:
#合并出新的数据集
data2 = dataset.iloc[:,-1]
new_dataset = data.join(data2)
new_dataset

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,iffire
0,0.750,0.428571,0.181818,0.666667,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,0.700000,0.00000,0.0
1,0.750,0.285714,0.818182,0.166667,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,0.055556,0.00000,0.0
2,0.750,0.285714,0.818182,0.833333,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,0.100000,0.00000,0.0
3,0.875,0.571429,0.181818,0.666667,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,0.400000,0.03125,0.0
4,0.875,0.571429,0.181818,1.000000,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,0.155556,0.00000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,0.375,0.142857,0.636364,1.000000,0.811613,0.191592,0.771315,0.033868,0.823151,0.200000,0.255556,0.00000,1.0
513,0.125,0.285714,0.636364,1.000000,0.811613,0.191592,0.771315,0.033868,0.633441,0.658824,0.600000,0.00000,1.0
514,0.750,0.285714,0.636364,1.000000,0.811613,0.191592,0.771315,0.033868,0.610932,0.647059,0.700000,0.00000,1.0
515,0.000,0.285714,0.636364,0.833333,0.976774,0.499311,0.711622,0.201426,0.752412,0.317647,0.400000,0.00000,0.0
516,0.625,0.142857,0.909091,0.166667,0.784516,0.006547,0.115867,0.019608,0.308682,0.188235,0.455556,0.00000,0.0

In [52]:
#将新的数据集保存在new_forestfires.csv文件中
new_dataset.to_csv('new_forestfires.csv',index=False)